{% extends 'base.html' %}
{% load static %}

{% block titulo %} - NOSOTROS{% endblock titulo %}


{% block contenido %}
<div class="content">
	<div class="grand-title" id="servicio">
	  <h4 data-ix="slowfade-scroll-bigs">NOSOTROS</h4>
	</div>
</div>
<main>
	<div class="historia">
		<h3>Nuestra Historia </h3>
		<p>GRUPO Z nace en 2023, cuando un grupo de estudiantes apasionados por la 
			tecnología decidió dar vida a un proyecto que explorara de manera accesible y comprensible la inteligencia artificial. Desde entonces, hemos evolucionado como una plataforma comprometida con la divulgación de conocimientos y perspectivas sobre este campo en constante cambio.
			En nuestros primeros días, nos enfrentamos a los desafíos típicos de cualquier inicio, pero con determinación y una visión clara, 
			GRUPO Z comenzó a tomar forma. Aprendimos valiosas lecciones sobre la complejidad y el potencial de la inteligencia 
			artificial, y nos embarcamos en la misión de compartir esos conocimientos de manera que sea accesible para todos.</p>
	</div>
	<div class="equipo">
		<h3>Equipo</h3>
		<ul > <a class=" fa fa-user-o"></a> Leandro Zacariaz
			<li > <a class=" fa fa-angle-double-right"></a> 23 años</li>
			<li > <a class=" fa fa-map-marker"></a> Quitilipi, Chaco</li>
			<li> <a class=" fa fa-book"></a> Estudiante de Ingeniería en Sistemas de la Información - UNCAus</li>
			<li> <a href="https://github.com/LeandroZacariaz" class=" fa fa-github"> github.com/LeandroZacariaz </a></li>
		</ul>
		<ul> <a class=" fa fa-user-o"></a> Guillermo Ferreira
			<li > <a class=" fa fa-angle-double-right"></a> 23 años</li>
			<li > <a class=" fa fa-map-marker"></a> Quitilipi, Chaco</li>
			<li> <a class=" fa fa-book"></a> Estudiante de Ingeniería en Sistemas de la Información - UNCAus</li>
			<li> <a href="https://github.com/guishe-art" class=" fa fa-github"> github.com/guishe-art </a></li>
		</ul>
		<ul> <a class=" fa fa-user-o"></a> Maximiliano Milesi
			<li > <a class=" fa fa-angle-double-right"></a> 23 años</li>
			<li > <a class=" fa fa-map-marker"></a> Quitilipi, Chaco</li>
			<li> <a class=" fa fa-book"></a> Estudiante de Ingeniería en Sistemas de la Información - UNCAus</li>
			<li> <a href="https://github.com/Mqqqxi" class=" fa fa-github"> github.com/Mqqqxi </a></li>
		</ul>
		<ul><a class=" fa fa-user-o"></a> Jose Avila
			<li >  <a class=" fa fa-angle-double-right"></a>  28 años</li>
			<li > <a class=" fa fa-map-marker"></a> Goya, Corrientes</li>
			<li> <a class=" fa fa-book"></a> Estudiante de Ingeniería en Sistemas de la Información - UNCAus</li>
			<li> <a href="https://github.com/Jose-L-Avila" class=" fa fa-github"> github.com/Jose-L-Avila </a></li>
		</ul>
	</div>
	<div class="contacto">
		<h3>Contacto</h3>
		<ul>
			<li> <a href="https://instagram.com" class="fa fa-instagram"></a></li>
			<li> <a href="https://x.com" class="fa fa-twitter"></a></li>
			<li> <a href="https://github.com" class="fa fa-github"></a></li>
			<li> <a href="https://facebook.com" class="fa fa-facebook-official"></a></li>
			<li> <a href="https://gmail.com" class="fa fa-google"></a></li>
		</ul>
	</div>
</main>
{% endblock contenido %}

